<%-include('./partials/header')%>
<%-include('./partials/flash')%>
    <div class="row">
        <% for(let food of allFoods){%>
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <%if(food.images.length>=1){%>
            <img src="<%=food.images[0].url%>" style="height: 15em;">
            <%}else{%>
            <img src="https://www.sarras-shop.com/out/pictures/master/product/1/no-image-available-icon.jpg" style="height: 15em;">
              <%}%>
              <span class="card-title" style="font-weight: 400; color:#fb8c00 "><%=food.name%></span>
              <a class="btn-floating halfway-fab waves-effect waves-light red" href="/foods/<%=food.id%>/show"><i class="material-icons">add</i></a>
            </div>
            <div class="card-content">
              <p><%=food.location%> </p>
            </div>
            <div class="card-action">
              <span class="card-title">by: <%=food.author.username%></span>
            </div>
            <!-- <%if(currentUser && food.author.equals(currentUser)){%>
            <div class="card-action">
              <a href="/foods/<%=food.id%>/edit"> <button class="btn orange">Edit</button> </a>
              <form action="/foods/<%=food.id%>?_method=DELETE" method="POST" style="display: inline;">
                <button class="btn red">Delete</button>
              </form>
            </div>
          <%}%> -->
          </div>
        </div>
        <%}%>
      </div>
<%-include('./partials/footer_content')%>
<%-include('./partials/footer') %>